%p{style: "text-align: center"}
  Site and content subject to sudden change due to miscalculated Balmer's peak
  %br
  Beer stein icon by 
  %a{href: "http://game-icons.net/lorc/originals/beer-stein.html"}<
    Lorc
  under CC BY 3.0
