%a.button-secondary.pure-button.menu-button{:href => "/stats/#{locals['username']}"}
  Home
%a.button-secondary.pure-button.menu-button.pull-right{:href => "/stats/#{locals['username']}/upload"}
  Upload
