!!! 5
%html
  %head
    %title= "ImbaGraph"

  %body
    %h1
      Hello world
    %p
      Let see if we can make more interesting stats with the data from Untappd. The goal is to let everyone see their own data, but for now it's only mine. And looking at the Untappd API, it will stay like that...
    %a{:href => "/stats/kyrremann"}
      Kyrremann
