!!! 5
%html
  %head
    = haml(:_head, locals: {'title': 'Imbagraph'})

  %body
    = haml(:_header, locals: {'title': 'I might be an alcoholic'})

    .l-content.information.pure-g
      Welcome

    = haml(:_footer)
