!!! 5
%html
  %head
    %title= "ImbaGraph"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://unpkg.com/purecss@1.0.0/build/pure-min.css", :integrity => "sha384-", :rel => "stylesheet"}/
    %link{:href => "https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css", :rel => "stylesheet"}/
    %link{:href => "/css/imbagraph.css", :rel => "stylesheet"}/

  %body
    .banner
      %h1.banner-head
        You might be an alcoholic
        %br
        but we can't find you in our system

    %p{:style => "text-align: center"}
      %h1
        No such user
