!!! 5
%html
  %head
    %title= "ImbaGraph"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://unpkg.com/purecss@1.0.0/build/pure-min.css", :integrity => "sha384-", :rel => "stylesheet"}/
    %link{:href => "https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css", :rel => "stylesheet"}/
    %link{:href => "/css/imbagraph.css", :rel => "stylesheet"}/

  %body
    .banner
      %h1.banner-head
        You might be an alcoholic
        %br
        and we are looking forward tasting your stats

    %div{:style => "text-align: center"}
      %h1
        Welcome
    .pure-g
      .pure-u-1-3
      .pure-u-1-3
        %p
          You are now registred in the Imbagraph database, to see your stats go to the link below. We added #{rows} check ins! Also remember this UUID, to upload more data later.
        %p
          = locals['uuid']
        %a.button-secondary.pure-button.menu-button{:href => "/stats/#{locals['user']}"}
          Your stats
